
    <h1>SpringBoot y Angular CLI</h1>
    <div class="menu-inicio">
    </button>
    <button class="menu" 
            routerLink="/direcciones">
                Direcciones
    </button>
</button>
<button class="menu" 
        routerLink="/empresas">
            Empresas
        <button class="menu" 
                routerLink="/productos"> 
                        Productos
     
        </button>
        <button class="menu" 
                routerLink="/etiquetas/paginadoEtiqueta">
                    Etiquetas
        
        
        <!-- <button class="buttom" 
            routerLink="/etiquetas/listar-etiqueta">
                Etiquetas de 
                Envio
        </button> -->
        <button class="menu"
            routerLink="/etiquetas/formatoEtiqueta">
                Formato de 
                Etiquetas
        </button>  
        <button class="menu" 
        routerLink="/generar-etiquetas">
        Generar etiquetas
    </button>    
</div>