<!-- <app-nav></app-nav>
<body>
    <h2>
    Bienvenido
    </h2> -->
<!-- 
   
        <h1 class="title"  > Bienvenido a Muela Manufacturas S.A.</h1>
     
        <div class="menu-inicio">
            <button class="buttom" 
                    routerLink="productos"> 
                            Productos
            </button>
            <button class="buttom" 
                    routerLink="empresas">
                        Empresas
            </button>
            <button class="buttom" 
                    routerLink="etiquetas/paginadoEtiqueta">
                        Etiquetas
            </button>
            <button class="buttom" 
                    routerLink="direcciones">
                        Direcciones
            </button>
            
            <button class="buttom" 
                routerLink="etiquetas/listar-etiqueta">
                    Etiquetas de 
                    Envio
            </button>
            <button class="buttom" 
                routerLink="etiquetas/formatoEtiqueta">
                    Formato de 
                    Etiquetas
            </button>  
            <button class="buttom" 
            routerLink="generar-etiquetas">
            Generar etiquetas
        </button>    
    </div> -->
    