<!-- <app-nav></app-nav> -->
<div class="cuerpo">
    <h2>
        Etiqueta de producto
    </h2>

     <div class="etiquetas">

      <button class="plus" routerLink="crear-etiqueta">Añadir página</button> 
    </div>  

<div class="caja">
<table>
    <tr>
        <th>Formato etiqueta</th>
        <th>Filas</th>
        <th>Columnas</th>
          <th></th>
        ;
    </tr>
    <tr *ngFor="let etiqueta of etiquetas">
         <td>{{etiqueta.idFormato}}</td>
         <td>{{etiqueta.filas}}</td>
         <td>{{etiqueta.columnas}}</td>
         <!-- <td>{{empresa.idDireccion}}</td> -->
         <td>
             <button  class="edit" routerLink="editar-etiqueta/{{etiqueta._idEtiqueta}}">
                 <img src="../../../assets/edit-2.svg">
             </button>
             <button  class="reset" (click)="borrarEtiqueta(etiqueta._idEtiqueta)">
                 <img src="assets/trash.svg">
             </button>
         </td>
    </tr>
</table>
</div>
</div>