<!-- <app-nav></app-nav> -->

<div class="cuerpo">
    <h2>
        Añadir dirección
    </h2>
    <div class="caja">
<form [formGroup]="formDireccion" (ngSubmit)="guardarDireccion()">
    <div>
        <label for="direccion">Direccion</label>
        <input type="text" id="direccion" formControlName="direccion">
    </div>
    <div>
        <label for="codigoPostal">Código Postal</label>
        <input type="text" id="codigoPostal" formControlName="codigoPostal">
    </div>
    
    <div>
        <label for="destino">Destino</label>
        <input type="text" id="destino" formControlName="destino">
    </div>
    <div class= "botones">
       
        <button class="limpiar" (click)= "limpiarCampos()"> Limpiar</button>
        <button  class="submit" type="submit">Guardar</button>
    </div>
</form>
</div>
</div>