<!-- <app-nav></app-nav> -->

<div class="cuerpo">
    <h2>
       Editar  página de etiquetas
    </h2>
    <div class="caja">

<form [formGroup]="formEtiqueta" (ngSubmit)="modificarEtiqueta()">
    <div>
        <label for="idEtiqueta">Id etiqueta</label>
        <input type="number" id="idFormato" formControlName="idFormato" readonly>
    </div>
    <div>
        <label for="idFormato">Formato de etiqueta</label>
        <input type="number" id="idFormato" formControlName="idFormato">
    </div>
    <div>
        <label for="filas">Filas</label>
        <input type="number" id="filas" formControlName="filas">
    </div>
    
    <div>
        <label for="columnas">Columnas</label>
        <input type="number" id="columnas" formControlName="columnas">
    </div>
    <div class="botones">
        <button class="submit" type="submit">Guardar</button>
        <button  class="reset" (click)= "limpiarCampos()"> Limpiar</button>
    </div>
</form>
</div>
</div>